In [12]:
import pandas as pd
import numpy as np

In [13]:
flats=pd.read_csv("/content/flats_cleaned.csv")
houses=pd.read_csv('/content/independent-house_cleaned.csv')

In [14]:
print(flats.shape,houses.shape)

(2995, 20) (945, 20)

In [15]:
df=pd.concat([flats,houses],ignore_index=True) # merge both data
df=df.sample(df.shape[0],ignore_index=True) ## apply sampling
df.head(6)

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,area,property_type
0,3 BHK Flat in Sector 67 Gurgaon,ireo victory valley,2.99,11832.0,Super Built up area 2527(234.77 sq.m.)Built Up...,3,3,3,servant room,"702, Sector 67 Gurgaon, Gurgaon, Haryana",4,East,1 to 5 Year Old,"['AIPL Joy Street Mall', 'Golf Course Extensio...",Note- We deal exclusively in the society ireo ...,"['3 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 St...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction4 out of...",2527.0,flat
1,2 BHK Flat in Laxman Vihar,not applicable,0.42,5600.0,Carpet area: 750 (69.68 sq.m.),2,2,1,not available,"621/622, Gali No-4, Laxman Vihar, Gurgaon, Har...",3,NaN,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Prat...","Flat build on, two side open plot with 18 feet...","['4 Wardrobe', '1 Water Purifier', '2 Fan', '1...","['Lift(s)', 'Water purifier', 'Maintenance Sta...","['Environment4 out of 5', 'Safety4 out of 5', ...",750.0,flat
2,5 Bedroom House for sale in Greenwood City,independent,17.00,37777.0,Plot area 4500(418.06 sq.m.),5,8,3+,"pooja room,study room,servant room,store room","0000, Greenwood City, Gurgaon, Haryana",3,North-East,1 to 5 Year Old,"['Huda city centre metro station', 'Axis bank ...",Ultra luxury kothi for sale in greenwood city ...,"['1 Water Purifier', '11 Fan', '1 Fridge', '1 ...","['Centrally Air Conditioned', 'Water purifier'...","['Environment4.5 out of 5', 'Lifestyle4 out of...",4500.0,independent-house
3,2 BHK Flat in Sohna,signature global park,0.68,8252.0,Carpet area: 824 (76.55 sq.m.),2,2,2,not available,"Sohna, Gurgaon, Haryana",3,NaN,Within 6 months,"['Sector 55-56 metro', 'Global city centre', '...",Signature global park is one of gurgaon's most...,"['2 Wardrobe', '3 Fan', '3 Light', '1 Modular ...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of...",824.0,flat
4,4 BHK Flat in Sector 90 Gurgaon,dlf new town heights,1.42,4864.0,Super Built up area 2364(219.62 sq.m.),4,4,3+,"servant room,store room","Middle Floor, Sector 90 Gurgaon, Gurgaon, Haryana",8,East,5 to 10 Year Old,"['Manish Gallexie 91', 'NH-8 IMT Manesar', 'RH...",This beautiful 4 bhk apartment/flat in sector-...,NaN,"['Lift(s)', 'Swimming Pool', 'Park', 'Shopping...","['Green Area5 out of 5', 'Construction4 out of...",2919.0,flat
5,3 BHK Flat in Sector 84 Gurgaon,alpha corp gurgaonone,1.50,7641.0,Super Built up area 1963(182.37 sq.m.)Carpet a...,3,3,3,servant room,"Sector 84 Gurgaon, Gurgaon, Haryana",20,North-West,1 to 5 Year Old,"['Delhi Public School', 'Raheja Market', 'Sapp...",Alpha corp gurgaonone 84 is one of the most po...,"['3 Wardrobe', '1 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction5 out of...",1963.0,flat

In [16]:
df.shape

(3940, 20)

In [17]:
df.to_csv('gurgaon_properties.csv',index=False)

In [18]:
df.describe()

,price,price_per_sqft,bedRoom,bathroom,floorNum,area
count,3920.000000,3920.000000,3940.000000,3940.000000,3940.000000,3.920000e+03
mean,2.463536,13808.636480,3.358122,3.403299,6.667766,4.658949e+03
std,2.913842,22782.496918,2.002137,2.039603,6.005669,1.179001e+05
min,0.070000,2.000000,1.000000,1.000000,0.000000,4.500000e+01
25%,0.900000,6788.500000,2.000000,2.000000,2.000000,1.187000e+03
50%,1.500000,8988.000000,3.000000,3.000000,4.000000,1.700000e+03
75%,2.650000,13713.000000,4.000000,4.000000,10.000000,2.289250e+03
max,31.500000,600000.000000,36.000000,36.000000,51.000000,7.250000e+06

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3940 entries, 0 to 3939
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3940 non-null   object
 1   society          3940 non-null   object
 2   price            3920 non-null   float64
 3   price_per_sqft   3920 non-null   float64
 4   areaWithType     3940 non-null   object
 5   bedRoom          3940 non-null   int64
 6   bathroom         3940 non-null   int64
 7   balcony          3940 non-null   object
 8   additionalRoom   3940 non-null   object
 9   address          3929 non-null   object
 10  floorNum         3940 non-null   int64
 11  facing           2777 non-null   object
 12  agePossession    3939 non-null   object
 13  nearbyLocations  3736 non-null   object
 14  description      3940 non-null   object
 15  furnishDetails   2911 non-null   object
 16  features         3241 non-null   object
 17  rating           3495 non-null   object
 18  area             3920 non-null   float64
 19  property_type    3940 non-null   object
dtypes: float64(3), int64(3), object(14)
memory usage: 615.8+ KB

In [20]:
df.isnull().sum()

property_name         0
society               0
price                20
price_per_sqft       20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum              0
facing             1163
agePossession         1
nearbyLocations     204
description           0
furnishDetails     1029
features            699
rating              445
area                 20
property_type         0
dtype: int64

In [21]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())
df['sector'] = df['sector'].str.lower()
df.head()

,property_name,society,price,sector,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,...,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,area,property_type
0,3 BHK Flat in Sector 67 Gurgaon,ireo victory valley,2.99,sector 67,11832.0,Super Built up area 2527(234.77 sq.m.)Built Up...,3,3,3,servant room,...,4,East,1 to 5 Year Old,"['AIPL Joy Street Mall', 'Golf Course Extensio...",Note- We deal exclusively in the society ireo ...,"['3 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 St...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction4 out of...",2527.0,flat
1,2 BHK Flat in Laxman Vihar,not applicable,0.42,laxman vihar,5600.0,Carpet area: 750 (69.68 sq.m.),2,2,1,not available,...,3,NaN,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Prat...","Flat build on, two side open plot with 18 feet...","['4 Wardrobe', '1 Water Purifier', '2 Fan', '1...","['Lift(s)', 'Water purifier', 'Maintenance Sta...","['Environment4 out of 5', 'Safety4 out of 5', ...",750.0,flat
2,5 Bedroom House for sale in Greenwood City,independent,17.00,greenwood city,37777.0,Plot area 4500(418.06 sq.m.),5,8,3+,"pooja room,study room,servant room,store room",...,3,North-East,1 to 5 Year Old,"['Huda city centre metro station', 'Axis bank ...",Ultra luxury kothi for sale in greenwood city ...,"['1 Water Purifier', '11 Fan', '1 Fridge', '1 ...","['Centrally Air Conditioned', 'Water purifier'...","['Environment4.5 out of 5', 'Lifestyle4 out of...",4500.0,independent-house
3,2 BHK Flat in Sohna,signature global park,0.68,sohna,8252.0,Carpet area: 824 (76.55 sq.m.),2,2,2,not available,...,3,NaN,Within 6 months,"['Sector 55-56 metro', 'Global city centre', '...",Signature global park is one of gurgaon's most...,"['2 Wardrobe', '3 Fan', '3 Light', '1 Modular ...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of...",824.0,flat
4,4 BHK Flat in Sector 90 Gurgaon,dlf new town heights,1.42,sector 90,4864.0,Super Built up area 2364(219.62 sq.m.),4,4,3+,"servant room,store room",...,8,East,5 to 10 Year Old,"['Manish Gallexie 91', 'NH-8 IMT Manesar', 'RH...",This beautiful 4 bhk apartment/flat in sector-...,NaN,"['Lift(s)', 'Swimming Pool', 'Park', 'Shopping...","['Green Area5 out of 5', 'Construction4 out of...",2919.0,flat

In [22]:
df['sector'].value_counts()

sector
sohna                                                        163
sector 102                                                   113
sector 85                                                    110
sector 92                                                    104
sector 69                                                     94
                                                            ...
devi lal colony gali no 12 gurgaon nr omkar public school      1
mahalaxmi garden, rajendra place                               1
sector 37b                                                     1
ram nagar                                                      1
old delhi road, opp sector-14                                  1
Name: count, Length: 301, dtype: int64

In [23]:

df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')

In [24]:
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')

df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

In [25]:
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')


df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [26]:

a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [27]:
df['sector'].value_counts()

sector
sohna road           163
sector 102           113
sector 85            110
sector 92            104
sector 69             94
                    ...
maruti kunj            3
patel nagar            3
sector 73              3
b block sector 43      3
sector 110 a           3
Name: count, Length: 131, dtype: int64

In [28]:

df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [29]:
df[df['sector'] == 'new']

,property_name,society,price,sector,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,...,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,area,property_type
731,2 BHK Flat in New Gurgaon,takshila heights sector 37 c,0.67,new,5583.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,...,3,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN,1200.0,flat
2709,4 BHK Flat in New Gurgaon,sare homes,0.85,new,4786.0,Super Built up area 1776(165 sq.m.),4,4,3,not available,...,3,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN,1776.0,flat
2742,4 BHK Flat in New Gurgaon,dlf 76,4.00,new,11428.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room",...,4,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN,3500.0,flat
3253,2 BHK Flat in New Gurgaon,green court,0.38,new,5507.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,...,7,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN,690.0,flat

In [30]:
df.loc[955,'sector'] = 'sector 37'
df.loc[2800,'sector'] = 'sector 92'
df.loc[2838,'sector'] = 'sector 90'
df.loc[2857,'sector'] = 'sector 76'

In [31]:
df[df['sector'] == 'new sector 2']

,property_name,society,price,sector,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,...,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,area,property_type
1110,2 BHK Flat in New Palam Vihar,my home,0.28,new sector 2,3166.0,Carpet area: 900 (83.61 sq.m.),2,1,1,others,...,2,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ...",884.0,flat
1139,2 BHK Flat in New Palam Vihar,ompee k s residency,1.60,new sector 2,26936.0,Carpet area: 66 (55.18 sq.m.),2,2,2,not available,...,1,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ...",594.0,flat
2563,2 Bedroom House for sale in New Palam Vihar,my home,0.34,new sector 2,12592.0,Plot area 270(25.08 sq.m.),2,2,2,not available,...,3,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5...",270.0,independent-house
3236,2 BHK Flat in New Palam Vihar,my home,0.22,new sector 2,4400.0,Carpet area: 500 (46.45 sq.m.),2,2,1,not available,...,1,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E...",500.0,flat
3452,3 Bedroom House for sale in New Palam Vihar,independent,1.00,new sector 2,8796.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,2,pooja room,...,1,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5...",1137.0,independent-house

In [32]:
df.loc[[311,1072,1486,3040,3875],'sector'] = 'sector 110'

In [33]:
df.shape

(3784, 21)

In [34]:
# features to drop -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [35]:
df.sample(

)

,society,price,sector,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,area,property_type
1582,palam vihar extension west zone rwa,0.4,sector 2,4444.0,Plot area 900(83.61 sq.m.),6,4,2,not available,2,West,5 to 10 Year Old,"['Palam triangle', 'Palam Vihar Vyapar kendra'...",NaN,"['Water purifier', 'Water Storage', 'Park', 'V...",900.0,independent-house

In [36]:
df.to_csv('gurgaon_properties_cleaned_v1.csv',index=False)